Repository precice/tutorials, pull requests merged in 2023-08, with the labels that each got.

#355 Fixed Docker compose root user problem #354
  tools/tests/component-templates/fenics-adapter.yaml
  tools/tests/component-templates/nutils-adapter.yaml
  tools/tests/component-templates/openfoam-adapter.yaml
  tools/tests/docker-compose.template.yaml
  tools/tests/systemtests/Systemtest.py
Labels: bug, student, systemtests

#357 Add FEniCS adapter
  tools/tests/README.md
  tools/tests/component-templates/fenics-adapter.yaml
  tools/tests/component-templates/nutils-adapter.yaml
  tools/tests/component-templates/openfoam-adapter.yaml
  tools/tests/components.yaml
  tools/tests/metadata_parser/metdata.py
  tools/tests/systemtests/Systemtest.py
Labels: enhancement, student, systemtests

#358 Added Timestamps to not override the folder
  tools/tests/systemtests/Systemtest.py
Labels: student, systemtests

#362 Fixed docker user problems in openfoam-adapter
  tools/tests/component-templates/openfoam-adapter.yaml
  tools/tests/docker-compose.field_compare.template.yaml
  tools/tests/docker-compose.template.yaml
Labels: bug, systemtests

#363 Add ability to compare fields
  .gitattributes
  flow-over-heated-plate/reference-data/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference_results.md
  tools/tests/README.md
  tools/tests/docker-compose.field_compare.template.yaml
  tools/tests/docker-compose.template.yaml
  tools/tests/generate_reference_data.py
  tools/tests/metadata_parser/metdata.py
  tools/tests/paths.py
  tools/tests/reference_results.template
  tools/tests/reference_versions.yaml
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
  tools/tests/systemtests/SystemtestArguments.py
  tools/tests/systemtests/TestSuite.py
  tools/tests/tests.yaml
Labels: enhancement, systemtests

#367 Move dimensions to each mesh
  aste-turbine/precice-config.xml
  channel-transport-reaction/precice-config.xml
  channel-transport/precice-config.xml
  elastic-tube-1d/precice-config.xml
  elastic-tube-3d/precice-config.xml
  flow-over-heated-plate-nearest-projection/precice-config.xml
  flow-over-heated-plate-partitioned-flow/precice-config.xml
  flow-over-heated-plate-steady-state/precice-config.xml
  flow-over-heated-plate-two-meshes/precice-config.xml
  flow-over-heated-plate/precice-config.xml
  heat-exchanger-simplified/precice-config.xml
  heat-exchanger/precice-config.xml
  multiple-perpendicular-flaps/precice-config.xml
  oscillator/precice-config.xml
  partitioned-backwards-facing-step/precice-config.xml
  partitioned-elastic-beam/precice-config.xml
  partitioned-heat-conduction-complex/precice-config.xml
  partitioned-heat-conduction-direct/precice-config.xml
  partitioned-heat-conduction/precice-config.xml
  partitioned-pipe/precice-config.xml
  perpendicular-flap/precice-config.xml
  quickstart/precice-config.xml
  turek-hron-fsi3/precice-config.xml
  volume-coupled-diffusion/precice-config.xml
Labels: compatibility
