Repository precice/tutorials, pull requests merged in 2023-11, with the labels that each got.

#392 Moving the actual running of the systemtests into the percice-tests vm
  .github/workflows/run_testsuite_manual.yml
  .github/workflows/run_testsuite_workflow.yml
Labels: student, systemtests

#390 Bugfix: Remove stray mesh from flow-over-heated-plate-two-meshes
  flow-over-heated-plate-two-meshes/precice-config.xml
Labels: bug

#408 Fix 394
  tools/tests/systemtests/TestSuite.py
Labels: bug, systemtests

#407 Hotfix issue 399
  .github/workflows/run_testsuite_workflow.yml
  tools/tests/systemtests/Systemtest.py
Labels: bug, systemtests
